.container-logo {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.logo-sidebar,
.logol-sidebar {
    background-size: cover;
    background-position: center;
}

.logo-sidebar {
    background-image: url('../../../assets/img/img_white.png');
    width: 40px;
    height: 40px;
}

.logol-sidebar {
    margin-left: 2%;
    background-image: url('../../../assets/img/logo_white.png');
    width: 110px;
    height: 40px;
}

.sidebar {
    transition: left 250ms linear, width 250ms linear;
}

.sidebar-content {
    background-color: #011f30;
}

.sidebar-link {
    background-color: #011f30;
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
    background: linear-gradient(90deg, rgba(5, 82, 145, 0.1), rgba(5, 86, 153, 0.088) 50%, transparent);
    border-left-color: #0d5783;
    border-left-width: 6px;
    color: #e9ecef
}

a.no-underline {
    text-decoration: none;
}

