<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand no-underline" href="/principal">
            <div class="container-logo">
                <div class="logo-sidebar"></div>
                <div class="logol-sidebar"></div>
            </div>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Menú
            </li>

            <li id="dashboard-item" class="sidebar-item">
                <a class="sidebar-link" href="/principal">
                    <i class="fas fa-grip-horizontal"></i>
                    <span class="align-middle">Principal</span>
                </a>
            </li>

           
            <li class="sidebar-header">
                Mi negocio 
            </li>

            <li id="sales-item" class="sidebar-item">
                <a class="sidebar-link" href="mi_negocio/ventas">
                    <i class="fas fa-store"></i>
                    <span class="align-middle">Ventas</span>
                </a>
            </li>

            <li id="accounts-payable-item" class="sidebar-item">
                <a class="sidebar-link" href="mi_negocio/cuentas_por_pagar">
                    <i class="fas fa-hand-holding-usd"></i>
                    <span class="align-middle">Cuentas por pagar</span>
                </a>
            </li>

            <li id="accounts-receivable-item" class="sidebar-item">
                <a class="sidebar-link" href="mi_negocio/cuentas_por_cobrar">
                    <i class="fas fa-dollar-sign"></i>
                    <span class="align-middle">Cuentas por cobrar</span>
                </a>
            </li>

            <li id="reports-item" class="sidebar-item">
                <a class="sidebar-link" href="mi_negocio/reportes">
                    <i class="fas fa-calculator"></i>
                    <span class="align-middle">Reportes</span>
                </a>
            </li>

            <li id="customers-item" class="sidebar-item">
                <a class="sidebar-link" href="mi_negocio/clientes">
                    <i class="fas fa-user-friends"></i>
                    <span class="align-middle">Clientes</span>
                </a>
            </li>

            <li id="suppliers-item" class="sidebar-item">
                <a class="sidebar-link" href="mi_negocio/proovedores">
                    <i class="fas fa-parachute-box"></i>
                    <span class="align-middle">Proovedores</span>
                </a>
            </li>

            <li class="sidebar-header">
               Sistema   
            </li>

            <li id="settings-item" class="sidebar-item">
                <a class="sidebar-link" href="sistema/configuraciones">
                    <i class="fas fa-cog"></i>
                    <span class="align-middle">Configuraciones</span>
                </a>
            </li>

        </ul>
    </div>
</nav>