<section class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            
            <div class="col-6 text-start">
                <p class="mb-0">
                    <strong class="text-muted">
                        <strong>Develoment by:</strong>
                    </strong> 
                   
                    <small>
                        Aurora Computer System
                    </small>
                    &copy;
                </p>
            </div>

            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <small>Versión 1.0</small>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
